<%= provide(:title, 'How It Works') %>
<h1>How It Works</h1>
<p>
  Identify a community project.
Three ways to find a project

Ask for donations to complete the project.
We help you with this.
We make it easy!

Complete the project.
We don’t help you with this!

Get Paid!
We promise to pay you!

Spend your hard earned money!

What you don’t have to do :)

Stand outside a supermarket, can in hand, begging for money.

Sell 5 lbs of cookie dough, magazines or gift-wrap
</p>